/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
  hyphens: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* SPECIFICS */

button {
  border-radius: 5px;
  border: none;
  background-color: burlywood;
  padding: 0.2rem 1rem;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.species-buttons {
  display: flex;
  gap: 0.5rem;
}

.sort-direction {
  background-color: brown;
}

.capitalize {
  text-transform: capitalize;
}
